<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Página Home</title>
</head>

<body>
<section layout:fragment="corpo">
  <div class="container mt-4">
    <h1 class="text-primary">Página Home de Teste</h1>
    <p>Se você está vendo isso, o <strong>Thymeleaf Layout Dialect</strong> está funcionando 🎉</p>
  </div>
</section>
</body>
</html>
